@import '~tailwindcss/dist/base.css';
@import '~tailwindcss/dist/utilities.css';
@import '~tailwindcss/dist/components.css';

*{overflow-x: hidden;}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebarStyle {
  display: inline-block;
  top: 0px;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapContainer {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 400px;
}

.control-panel {
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


.plus{position: relative;
top: 0.1rem;}
.materialui-daterange-picker-MuiList-root-257{
  display: none;
}

.sp{top: 1rem;
left:60vh;}

