@import '~tailwindcss/dist/base.css';
@import '~tailwindcss/dist/components.css';
@import '~tailwindcss/dist/utilities.css';

.with-bg{background-image: url('/images/illu.jpg');
    background-size: cover;
    background-position: 50% 48%;
height: 50vh;}

.navex:hover{background-color: rgba(250, 250, 250, 0.3);}