.nav-action {
    .titre {
        color: #ed8936;
        border: 2px solid #ed8936;
        padding: 7px 10px;
        position: relative;
    }

    .content {
        transform: scale(1, 0);
        position: absolute;
        background-color: black;
        color: white;
        padding: 10px 25px;
        transition: all ease-out 400ms;
        transform-origin: top;

        .item {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &:hover {
        .content {
            transform: scale(1, 1);
            transition: all ease-in 400ms;
            transform-origin: top
        }
    }
}